* {
  box-sizing: border-box;
}

html {
  background: #000;
  font-size: 16px;
  line-height: 1.5;
  color: #adadad;
  font-feature-settings: 'tnum';
  overflow: hidden;
}

code {
  font-size: 0.9em;
  padding: 0 0.3em;
}

.info {
  font-size: 0.8em;
  line-height: 1.5em;
  margin-bottom: -6px;
}

a {
  color: #adadad;
}
.about {
  margin-left: 22px;
  margin-right: 10px;
 }

.hover-555:hover {
  background: #555;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

img {
  max-width: 100%;
}

canvas {
  display: block;
  margin: 0;
  padding: 0;
}
/**
 * Reset button styles.
 * It takes a bit of work to achieve a neutral look.
 */
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
}

.full-width {
  width: 100%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted lightgrey;
}

.tooltip .tooltiptext {
  /* visibility: hidden; */
  width: 240px;
  background-color: lightgrey;
  color: #000;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 10;
  top: 150%;
  left: 50%;
  margin-left: -120px;
  padding: 5px;
  word-wrap: break-word;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent lightgrey transparent;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  text-align: center;
}


.loading-small {
  position: absolute;
  bottom: 4px;
  left: 12px;
  text-align: center;
}

.CodeMirror {
  height: 125px;
}
.ReactCodeMirror {
  height: 30px;
}
.cm-category {
  color: #2196F3;
}
.cm-operator {
  color: #9E9E9E;
}
.cm-value {
  color: #E91E63;
}
.react-filter-box {
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
  /* height: 128px; */
  width: 296px;
  /* padding: 4px 6px; */
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.react-filter-box.focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.react-filter-box.error {
  border-color: #a94442;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.react-filter-box.error.focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.CodeMirror-hints {
  padding: 5px;
  min-width: 100px;
  z-index: 10000;
}
.CodeMirror-hints .CodeMirror-hint {
  padding: 5px 5px;
}
li.CodeMirror-hint-active {
  background: #2196F3;
}
li.CodeMirror-hint-active .hint-value {
  color: white;
}



.main-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;

}


.public_fixedDataTable_header, .public_fixedDataTable_header .public_fixedDataTableCell_main {
  background-image: none;
}

.day-picker-selection {
  background-color: white;
  color: black;
}

li.CodeMirror-hint-active.custom{
  background: white;
  
}

.hint-value {
  color: white;
}
ul.CodeMirror-hints {
  max-height: 300px;
}


.demo-4-filter-wrapper {
  display: flex;
}


.demo-4-filter {
  flex:1;
}

.download-link {
  color: blue;
  text-decoration: underline;
}