* {
  box-sizing: border-box;
}

html {
  background: #000;
  font-size: 16px;
  line-height: 1.5;
  color: #adadad;
  font-feature-settings: 'tnum';
  overflow: hidden;
}

code {
  font-size: 0.9em;
  padding: 0 0.3em;
}

.info {
  font-size: 0.8em;
  line-height: 1.5em;
}

a {
  color: #adadad;
}

.hover-555:hover {
  background: #555;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

img {
  max-width: 100%;
}

canvas {
  display: block;
  margin: 0;
  padding: 0;
}
/**
 * Reset button styles.
 * It takes a bit of work to achieve a neutral look.
 */
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
}

.full-width {
  width: 100%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted lightgrey;
}

.tooltip .tooltiptext {
  /* visibility: hidden; */
  width: 240px;
  background-color: lightgrey;
  color: #000;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 10;
  top: 150%;
  left: 50%;
  margin-left: -120px;
  padding: 5px;
  word-wrap: break-word;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent lightgrey transparent;
}

/* .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
  display: block;
}

.Select-menu-outer {
  position: relative;
  } */



.btn-csv-download {
  margin-left:20px;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%)!important;
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#2d2d2d;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn-csv-download:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%)!important;
	background-color:#e9e9e9;
  color:#070707!important;
}
.btn-csv-download:active {
	position:relative;
	top:1px;
  color:#191919;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  text-align: center;
}